<!doctype html>
<html>
  <head>
    <title>Extração de Dados - Robson Cardozo</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <header class="header">
      <h1>Wikipedia:</h1>
    </header>
    <main class="main">
      <table>
        <thead>
          <tr>
            <th>Título</th>
            <th>Resumo</th>
            <th>Link</th>
          </tr>
        </thead>
        <tbody>
          {% for result in results %}
          <tr>
            <td>{{ result.title }}</td>
            <td>{{ result.summary }}</td>
            <td><a href="{{ result.url }}" target="_blank">{{ result.url }}</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </main>
    <footer class="footer">
      <p>&copy; 2023 Robson Cardozo</p>
    </footer>
  </body>
</html>
